<div class="container">

  <div class="post-text">
    <strong>タイトル:</strong>
    <p class="form-control"><%= @post.title %></p>
    <strong>内容:</strong>
    <p class="form-control"><%= @post.content %></p>
    <strong>ラベル:</strong>
    <p class="form-control"><% @post.labels.each do |label| %>
                              <%= label.name %>
                            <% end %></p>
  </div>
  <% if current_user %>
    <% unless @post.user_id == current_user.id %>
      <% if @favorite.present? %>
        <%= link_to 'お気に入り解除する', favorite_path(id: @favorite.id), method: :delete, class: 'btn btn-warning' %>
      <% else %>
        <%= link_to 'お気に入りする', favorites_path(post_id: @post.id), method: :post, class: 'btn btn-danger' %>
      <% end %>
    <% end %>
  <% end %>

  <p><strong>コメント一覧</strong></p>

  <!-- このcomments_areaというHTMLのidを取得して、そのdivの部分だけを更新する -->
  <div id="comments_area">
    <!-- 投稿されたコメント一覧をpostの詳細ページに表示するためのrender -->
    <%= render partial: 'comments/index', locals: { comments: @comments, post: @post } %>
  </div>

  <!-- コメント入力欄をpostの詳細ページに表示するためのrender -->
  <%= render partial: 'comments/form', locals: { comment: @comment, post: @post } %>

  <div class="mt-4">
  <% if current_user == @post.user %>
    <%= link_to '投稿を編集する', edit_post_path(@post), class: 'btn btn-success' %>
  <% end %>
    <%= link_to '戻る', posts_path %>
  </div>
</div>